/* src/styles.css 
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Add your additional styling here */
#root{
  
  
  /* height: 100%; */
  display: flex;
  /* justify-content: end; */
  align-items: center;
  /* margin-right: 5rem; */
  width: 100%;
}

body{
  background-image: url("i26.jpg");
  background-size:cover;
  

}

